<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-card *ngFor="let item of currentItems">

    <ion-item>
      <ion-avatar item-start>
        <img [src]="item.profilePic">
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>234</p>
    </ion-item>

    <img [src]="item.profilePic">

    <ion-card-content>
      <p>{{item.about}}</p>
      <small float-right>11Hr ago</small>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <small ion-button color="primary" clear small icon-start>
            <ion-icon name='thumbs-up'></ion-icon>
            12
          </small>
        </ion-col>
        <ion-col>
          <small ion-button color="primary" clear small icon-start>
            <ion-icon name='text'></ion-icon>
            4
          </small>
        </ion-col>
        <ion-col>
          <small ion-button color="primary" clear small icon-start (click)="openItem(item)">
            <ion-icon name="arrow-dropright"></ion-icon>
            more
          </small>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
</ion-content>
